    @model IEnumerable<LabooGF.Models.Aluno>
@{
    ViewBag.Title = "Alunos";
    ViewBag.Bread1 = "Aluno";
    ViewBag.Bread2 = "Consultar";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <div class="col-md-10">
                        <h3 class="box-title">Alunos</h3>
                    </div>
                    <div class="col-md-2">
                        @Html.ActionLink("Criar Novo","Detail","Aluno",htmlAttributes: new { @class = "btn btn-block btn-primary" })
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Nome )</th>
                            <th>@Html.DisplayNameFor(model => model.DtNascimento)</th>
                            <th>@Html.DisplayNameFor(model => model.Responsavel.Nome)</th>
                            <th></th>                                
                        </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.ActionLink(@Html.DisplayFor(modelItem => item.Nome).ToString(), "Detail", new { id = item.IdAluno })</td>
                            <td>@Html.DisplayFor(modelItem => item.DtNascimento)</td>
                            <td>@Html.DisplayFor(modelItem => item.Responsavel.Nome)</td>
                            <td>
                                <a id="delete" href="@Url.Action("Delete", "Aluno",new { id = item.IdAluno })" onclick="return confirm('Tem certeza que deseja deletar esse registro?');">
                                    <i class="glyphicon glyphicon-trash"></i>
                                    <span>Excluir</span>
                                </a>
                            </td>
                        </tr>
                    } 
                    </table>
                </div>
                <!-- /.box-body -->
                @*<div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">&laquo;</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>*@
            </div>
        </div>
    </div>
</section>
<!-- /.box -->
